@model CoverType
@{
    ViewData["Title"] = "Create";
}

<form method="post">
    <fieldset disabled>
        <div class="p-3 mt-4">
            <div class="row ob-2">
                <h2 class="text-primary">Delete CoverType</h2>
                <hr />
            </div>
        </div>
        <!--
            Using the inline validation so do not need this.
        <div asp-validation-summary="All"></div>
        -->
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" desabled class="form-control" />
        </div>
    </fieldset>
    <button type="submit" class="btn btn-warning" style="width:150px">Delete</button>
    &nbsp;
    <a asp-controller="CoverType" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to List</a>
</form>
